streamlit
openai==0.28
pandas
altair
python-dotenv
bcrypt
pydub
soundfile
gTTS
matplotlib
reportlab
plotly
streamlit
pandas
altair
python-dotenv
openai
Pillow
matplotlib
seaborn
fpdf
tweepy
facebook-sdk
SQLAlchemy
requests